<div class="container-fluid ">
  <div class="row ">
    <div class="container  border rounded main ">
      <div class="row ">
        <div class="col"></div>
        <div class="col-3">
          <app-header></app-header>
        </div>
        <div class="col"></div>
      </div>
      <div class="row m-3">
        <app-add-task></app-add-task>

      </div>

      <div class="row m-3">
        <div class="col-sm ">
          <app-todo-task></app-todo-task>
        </div>

        <div class="col-sm">
          <app-done-task></app-done-task>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
