.main{
  background-color: rgb(235, 235, 235);
  min-height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.container-fluid{
  background-image: url(../assets/lista.jpg);
  background-size: cover;
  background-position: center;
}
