<ng-container *ngIf="tasksList.length > 0; else noTask">
  <p [ngStyle]="{ color: getColor(), 'font-weight': getWeight() }">
    Zadania do zrobienia: {{ tasksList.length }}
  </p>
  <ul>
    <li *ngFor="let task of tasksList">
      {{ task }}
      <ng-template #popContent>
        <button class="btn btn-danger" (click)="remove(task)">Skasuj</button>
        <button class="btn btn-success" (click)="done(task)">Dodaj</button>
      </ng-template>
      <ng-template #popTitle>Co chcesz zrobić?</ng-template>
      <a
        [ngbPopover]="popContent"
        [popoverTitle]="popTitle"
        [autoClose]="'outside'"
        [placement]="'right'"
      >
        <img src="../../assets/hamburger.png" height="20px" width="20px" alt="hamburger"
      /></a>
    </li>
  </ul>
</ng-container>
<ng-template #noTask>
  <p class="no-task">Brak aktualnych zadań do wykonania.</p>
</ng-template>
